<!DOCTYPE html>
<html>
<head>
    <title>{{title}}
    </title>
</head>

<body>
    {{body}}
<form >
  <div id = "reviewSection">
  <div class="form-group">
    <label for="Address">Address</label>
    <input type="address" class="form-control" id="address" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" id="Rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Review">Review</label>
    <textarea class="form-control" id="review" rows="3"></textarea>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
    </body>
</html>