<!DOCTYPE html>
<html>
<head>
    <title>{{title}}
    </title>
</head>

<body>
    {{body}}
        <form>
  <div class="form-group">
    <label for="Address">Adress</label>
    <input type="address" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="review">Review</label>
    <input type="review" class="form-control" id="review" placeholder="write a review">
  </div>
  <div class="form-group">
    <label for="review">Rating 1-5</label>
    <input type="Rating" class="form-control" id="rating" placeholder="Provide a Rating">
  </div>
 
  <button  id="submitButton" type="submit" class="btn btn-primary">Submit</button>
</form>
    </body>
</html>